# Copyright (c) 2022 Duccio Breschi
# Copyright (c) 2023 iamDrakkir
# SPDX-License-Identifier: MIT

config SHIELD_BRAIN_LEFT
    def_bool $(shields_list_contains,brain_left)

config SHIELD_BRAIN_RIGHT
    def_bool $(shields_list_contains,brain_right)
