# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_BRAIN_LEFT

config ZMK_KEYBOARD_NAME
    default "brain"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BRAIN_LEFT || SHIELD_BRAIN_RIGHT
config ZMK_SPLIT
    default y
endif
